
*{
	margin:0;
	padding:0;
}
.box{
	width: 500px;
	height:500px;
	border: 10px solid gray;
	display: flex;
	/* flex-start
	 flex-end
	center
	 */
	align-items: center;
	/* 默认情况下项目过多,不会折行,默认宽度会失效,
	 会产生挤压的效果*/
	 /* 折行显示 */
	 flex-wrap: wrap-reverse;
	 /* 调整行间距 */
	 /* flex-start侧轴的开始位置,没有间距
	    flex-end  侧轴的结束位置,没有间距
		center     侧轴的居中位置,没有间距
		space-around    行间距环绕
		space-between    行间距两端对齐
		space-evenly     行间距均分
		*/
	 align-content: space-evenly ;
}
.box>p{
	width:50px;
	height:50px;
	border: 2px dashed red;
}