div{
	color:red;
	background-color: antiquewhite;
}
.box1{
	color:green;
	background-color: black;
}
.box2{
	color:pink;
	background-color: crimson;
}
p{
	color:red;
	background-color: antiquewhite;
}
.bobo1{
	color:green;
	background-color: black;
}
.bobo2{
	color:pink;
	background-color: crimson;
}
